<div class="w-full h-full bg-primary flex flex-column align-items-center flex-1 ">
    <div class="max-h-4rem absolute z-4 right-0 w-full">
        <app-navbar/>
    </div>
    <div style="background-color: transparent;" class="top-0 absolute w-full h-full align-items-center z-2 justify-content-evenly vertical-align-middle flex flex-column">
        <div class="w-7">
            <h1 class="text-color text-8xl text-center heading">Your next adventure with nature awaits</h1>
        </div>
        <div class="flex flex-column justify-content-center">
            <h3>Scroll Down</h3>
            <ng-lottie [options]="options"></ng-lottie>
        </div>
    </div>
    <div class="relative z-0 bg-primary">
        <app-video/>
    </div>
    <div class="w-full z-2">
    <div class="bg-primary flex justify-content-center p-5 h-15rem flex-column align-items-center">
        <h1 class="m-0 heading text-6xl">About PeakVisor</h1>
        <p class="w-4 text-center">
            PeakVisor is a platform that helps you find nature trails and parks to visit in Singapore. It lets you keep a record of all the trails that you’ve been to so you can easily find your next adventure!
        </p>
    </div>
    <div class="bg-green-900 flex justify-content-center p-5 h-15rem flex-column align-items-center">
        <h1 class="m-0 heading text-6xl">Statistics</h1>
        <p class="w-4 text-center">
            PeakVisor is a platform that helps you find nature trails and parks to visit in Singapore. It lets you keep a record of all the trails that you’ve been to so you can easily find your next adventure!
        </p>
        <app-statsboard/>
    </div>
    <div class="bg-primary flex justify-content-center p-5 h-15rem flex-column align-items-center">
        <h1 class="m-0 heading text-6xl">Explore the trails</h1>
        <p class="w-4 text-center">
            PeakVisor is a platform that helps you find nature trails and parks to visit in Singapore. It lets you keep a record of all the trails that you’ve been to so you can easily find your next adventure!
        </p>
    </div>
</div>
</div>
