<div class="w-full h-full flex flex-column align-items-center flex-1 bg-primary">
<div class="w-full grid m-1 bg-primary">
    <div class="col-12 sm:col-12 md:col-6 lg:col-4">
        <app-photocard routerLink="/alltrails/macritchie"/>
    </div>
    <div class="col-12 sm:col-12 md:col-6 lg:col-4">
        <app-photocard routerLink="/alltrails/macritchie"/>
    </div>
    <div class="col-12 sm:col-12 md:col-6 lg:col-4">
        <app-photocard routerLink="/alltrails/macritchie"/>
    </div>
</div>
</div>