
<p-dialog position="bottomright" [(visible)]="chat" [breakpoints]="{ '500px': '95vw' }" [style]="{width: '40vw',borderRadius: '12px'}">
  <ng-template pTemplate="header">
    <div class="inline-flex align-items-center justify-content-center gap-2">
      <img height="150px" width="150px" src="assets/icons/pv-ai.svg">
    <h3 class="text-3xl font-bold text-color-secondary"> PeakVisor AI says...</h3>
    </div>
  </ng-template>
    <span *ngFor="let s of chatcontent" class="font-semibold text-color-primary">
      <p class="text-xl">{{s}}</p>
    </span>
</p-dialog>
<div class="flex flex-column w-full bg-primary">
  
<app-hero subheading="" [heading]="details['name']">
</app-hero>

<app-photo-background [src]="src"/>
<app-informationsection sectionHeader="General Information" [content]="details['description']"/>
<app-informationsection sectionHeader="Address" [content]="getDescription" class="bg-green-900" />
<app-informationsection sectionHeader="Bearings" [content]="getBearings"/>
<app-informationsection sectionHeader="Rating" [content]="getRatings" class="bg-green-900" >
  <img *ngIf="details['rating_image_url']" [src]="details['rating_image_url']"/>
</app-informationsection>
<div class="flex justify-content-start p-4 md:p-5 flex-column align-items-start gap-2">
<div class="w-full" *ngFor="let trail of trails">
  <h3 class="heading text-6xl w-full m-0">{{ trail.title }}</h3>
  <app-google-map [title]="trail.title" [lat]="trail.lat" [lng]="trail.lng" [mapId]="trail.mapId"></app-google-map>
  
</div> 
<span class="w-full md:w-2 lg:w-2">
  <app-button [disabled]="generating==true" ($onClk)="prompt()" severity="secondary" [label]="generating==true?'Loading':'Tell Me More'"/>
</span>
</div>
</div>
