<div class="flex flex-column w-full bg-primary">
<app-hero subheading="" [heading]="details['name']">
</app-hero>

<app-photo-background [src]="src"/>
<app-informationsection sectionHeader="General Information" [content]="details['description']"/>
<app-informationsection sectionHeader="Address" [content]="getDescription" class="bg-green-900" />
<app-informationsection sectionHeader="Bearings" [content]="getBearings"/>
<app-informationsection sectionHeader="Rating" [content]="getRatings" class="bg-green-900" >
  <img *ngIf="details['rating_image_url']" [src]="details['rating_image_url']"/>
</app-informationsection>
<div *ngFor="let trail of trails">
  <h3 style="color: black">{{ trail.title }}</h3>
  <app-google-map [title]="trail.title" [lat]="trail.lat" [lng]="trail.lng" [mapId]="trail.mapId"></app-google-map>
</div> 
</div>