<div class="w-full h-screen bg-primary flex flex-column align-items-between flex-1 relative z-0">
    <app-navbar class="absolute top-0 z-4 w-full"/>
    <div class="w-full h-full flex flex-row justify-content-center">
    <div class="w-6 flex-1 flex flex-column justify-content-center align-items-center">
        <h1 class="heading text-6xl">Sign In</h1>
    </div>
    <div class="w-6 flex-1 flex flex-column justify-content-center align-items-center">
        <img class="w-full h-full" src="assets/photos/signupphoto.png"/>
    </div>
</div>
</div>