<div class="inline-flex w-full h-full justify-content-center align-items-center">
    <div class="h-full flex-1 flex flex-column justify-content-center align-items-center">
        <div class="flex flex-column justify-content-center align-items-center mt-7">
        <h1 class="heading text-8xl">Sign Up</h1>
        <div class="gap-5 flex flex-column w-full" *ngIf="stage==1">
            <app-textinput  class="w-full"  data="Password"/>
            <app-textinput  class="w-full"  data="Re-enter Password"/>
            <div class="w-full flex mb-3 flex-column gap-3">
                <app-button class="flex-grow-1" (click)="null" label="Sign Up" severity="secondary"/>
            </div>
        </div>
        <div class="gap-5 flex flex-column w-full" *ngIf="stage==0">
            <app-textinput class="w-full"  data="Name"/>
            <app-textinput class="w-full"  data="Email"/>
            <div class="flex flex-row w-full gap-2">
                <div class="flex flex-3 h-full">
                    <app-textinput class="w-full"  data="OTP"/>
                </div>
                <div class="flex flex-1 flex-row">
                    <app-button class="flex-grow-1" (click)="getOTP()" label="Get OTP" severity="secondary"/>
                </div>
            </div>
            <div class="w-full flex mb-3 flex-column gap-3">
                <app-button class="flex-grow-1" (click)="signUpNextStage()" label="Next" severity="secondary"/>
            </div>
        </div>
       
        </div>
        
    </div>
    <div class="hidden md:block w-6 justify-content-center align-items-center h-full">
        <img class="w-full h-full" [src]="src"/>
    </div>
</div>