<div style="background-color: transparent;" class="top-0 absolute w-full h-full align-items-center z-2 justify-content-evenly vertical-align-middle flex flex-column">
    <div class="w-8">
        <h1 class="text-color lg:text-8xl md:text-7xl sm:text-6xl  text-center heading line-height-1">{{heading}}</h1>
        <p *ngIf="subheading.length>0" class="text-color lg:text-4xl md:text-3xl sm:text-2xl text-center heading line-height-1">{{subheading}}</p>
    </div>
    <div class="flex flex-column justify-content-center align-items-center text-color">
        <ng-content></ng-content>
    </div>
</div>