<div class="w-full h-full bg-primary flex flex-column align-items-center flex-1 ">
    <div class="max-h-4rem absolute z-4 right-0 w-full">
        <app-header [dlmodeOnly]="true"/>
    </div>
    <div class="bg-primary top-0 absolute w-full h-full align-items-center z-2 justify-content-evenly vertical-align-middle flex flex-column">
        <div class="w-7">
            <h1 class="text-color text-8xl text-center heading">Account Settings</h1>
        </div>
        <div class="w-4 h-full">
            <app-settingsinput/>
            <app-settingsinput/>
            <app-settingsinput/>
            <app-settingsinput/>
        </div>      
    </div>
</div>