<div class="w-full h-full bg-primary flex flex-column align-items-center flex-1 ">
    <div class="bg-primary top-0 absolute w-full h-full align-items-center z-2 justify-content-evenly vertical-align-middle flex flex-column">
        <div class="w-7">
            <h1 class="text-color lg:text-8xl md:text-7xl sm:text-6xl  text-center heading">Error 404</h1>
            <h3 class="text-color lg:text-4xl md:text-3xl sm:text-2xl text-center">Looks like you were too adventurous</h3>
        </div>
        <img class="w-3 h-3" [src]="src"/>
    </div>
</div>
