<div class="flex flex-wrap justify-content-center gap-1 align-content-center align-items-center vertical-align-middle">
    <app-button  severity="secondary" [fn]="handleClick" label="All"/>
    <app-button  severity="secondary" [fn]="handleClick" label="All"/>
    <app-button  severity="secondary" [fn]="handleClick" label="All"/>
    <app-button  severity="secondary" routerLink="" label="Home"/>
    <app-button  severity="secondary" routerLink="" label="Home"/>
    <app-button severity="secondary" routerLink="" label="Home"/>
</div>
