
<div (click)="handleClick()" class="overflow-hidden relative flex align-items-center md:align-items-start min-w-max">
    <div class="z-0 bg-cover bg-center md:h-30rem h-15rem w-full relative" style="background-image: url('https://oyster.ignimgs.com/mediawiki/apis.ign.com/the-legend-of-zelda-breath-of-the-wild-2/3/38/Link2.png');"></div>
    <div class="z-2 absolute lg:text-left md:text-center text-center w-full lg:text-4xl md:text-3xl sm:text-2xl p-4">
        <h3>{{name}}</h3>
    </div>
</div>