<div class="grid">
    <div class="col-12 md:col-6 lg:col-6">
        <div class=" bg-transparent shadow-2 p-3 border-round border-3 h-9rem">
            <div class="flex justify-content-between mb-3">
                <div class="text-center w-full">
                    <span class="block text-3xl font-bold mb-3 h-3rem">Total Distance</span>
                    <div class=" font-bold text-5xl">{{((stats.total_distance??0)/1000)}}KM</div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 md:col-6 lg:col-6">
        <div class="bg-transparent shadow-2 p-3 border-round border-3 h-9rem">
            <div class="flex justify-content-between mb-3">
                <div class="text-center w-full">
                    <span class="block text-3xl font-bold mb-3 h-3rem">Total Trips</span>
                    <div class=" font-bold text-5xl">{{stats.total_trips??0}}</div>
                </div>
            </div>
        </div>
    </div>
</div>
