<p-dialog [blockScroll]="true" [modal]="true" [draggable]="false" (onHide)="closeDialog()" [(visible)]="display" [breakpoints]="{'960px': '40vw', '640px': '80vw'}" [style]="{width: '30vw'}">
    <ng-template pTemplate="header">
        <h3>Reset your password</h3>
    </ng-template>
    <form class="" [formGroup]="resetPasswordForm">
    <span class="flex-grow-1 flex flex-column gap-2 w-full p-2">
        <label id="email">Email</label>
        <small class="p-error block font-bold" *ngIf="email!.errors?.['required'] && email?.touched">Email is required.</small>
        <small class="p-error block font-bold" *ngIf="email!.errors?.['email'] && email?.touched">Email has to be valid</small>
        <input id="email" formControlName="email" class="w-full h-full p-inputtext-lg h-3rem"  pInputText/>
    </span>
    </form>
    <ng-template pTemplate="footer">
        <app-button class="flex-grow-1 p-1" (click)="sendPasswordResetEmail()" label="Reset Password" severity="secondary"/>
    </ng-template>
</p-dialog>