<div class="w-full h-full bg-primary flex flex-column align-items-center flex-1 ">
    <div class="max-h-4rem absolute z-4 right-0 w-full">
        <app-header [dlmodeOnly]="false"/>
    </div>
    <div style="background-color: transparent;" class="top-0 absolute w-full h-full align-items-center z-2 justify-content-evenly vertical-align-middle flex flex-column">
        <div class="w-7">
            <h1 class="text-color text-8xl text-center heading">All Parks and Trails</h1>
        </div>
        <div class="flex flex-column justify-content-center">
            <h3>Scroll Down</h3>
            
        </div>
    </div>
    <div class="relative z-0 bg-primary">
        <app-video src="assets/trailspagevideo.mov"/>
    </div>
    
        <div class="w-full grid m-1">
            <div class="col">
                <app-photocard routerLink="/alltrails/macritchie"/>
            </div>
            <div class="col">
                <app-photocard routerLink="/alltrails/macritchie"/>
            </div>
            <div class="col">
                <app-photocard routerLink="/alltrails/macritchie"/>
            </div>
        </div>
    

</div>
