<div class="w-full h-full bg-primary flex flex-column align-items-center flex-1 mt-8">
    <div class="align-items-center justify-content-center gap-2 vertical-align-middle flex flex-column h-auto mt-5 bg-primary">
        <div class="w-full">
            <h1 class="text-color text-8xl text-center heading p-2">Account Settings</h1>
        </div>
        <div class="w-full p-4">
                <app-settingsinput/>
                <app-settingsinput/>
                <app-settingsinput/>
                <app-settingsinput/>
        </div>
    </div>
</div>