<div class="grid">
    <div class="col-12 md:col-6 lg:col-4">
        <div class=" bg-transparent shadow-2 p-3 border-round border-3 h-9rem">
            <div class="flex justify-content-between mb-3">
                <div class="text-center w-full">
                    <span class="block text-3xl font-bold mb-3 h-3rem">Total Users</span>
                    <div class=" font-bold text-3xl ">{{data.usercount}}</div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 md:col-6 lg:col-4">
        <div class=" bg-transparent shadow-2 p-3 border-round border-3 h-9rem">
            <div class="flex justify-content-between mb-3">
                <div class="text-center w-full">
                    <span class="block text-3xl font-bold mb-3 h-3rem">Total Distance</span>
                    <div class=" font-bold text-3xl">{{data.totaldistance/1000}}KM</div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 md:col-6 lg:col-4">
        <div class="bg-transparent shadow-2 p-3 border-round border-3 h-9rem">
            <div class="flex justify-content-between mb-3">
                <div class="text-center w-full">
                    <span class="block text-3xl font-bold mb-3 h-3rem">Total Trips</span>
                    <div class=" font-bold text-3xl">{{data.totaltrips}}</div>
                </div>
            </div>
        </div>
    </div>
</div>